{% extends "_base.html" %}
{% block main %}

<div class="content">
    <img class="login-logo" src="{{ url_for('static', path='images/login.png') }}", alt="CodeNforce Logo" >
    <h1 style>
        HI, WELCOME TO <span style="color: #DEE461">CODE</span><span style="color:#00B4ED">NFORCE</span>!
    </h1>
        <a href="/login" class="pure-button pure-button-primary">Login to mission control</a>
    <span>
        <br>TCVCOG staff, code enforcement officials, and other authorized users access tools via mission control
    </span>

</div>


{% endblock %}