{% extends "_base.html" %}
{% block main %}
<div class="content">
    <div class="header">
        <h1>Report a New Concern</h1>
    </div>
    <br>
    <span>
        Upload photos of the issue(s) at
        {{ parcel_data.propertyhousenum }} {{ parcel_data.propertyaddress }} in {{ parcel_data.munidesc.strip() }}.
    </span>
    <form class="pure-form">
<!--        Todo: Validation -->
        <input type="file" id="photoupload" name="filename">
        <br><br>
        <input class="pure-button" type="submit">
    </form>
    <br>
    <a class="pure-button" href="/services/report_concern/review_and_submit">Proceed without photos to contact details</a>
</div>
{% endblock %}